<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>Login</title>

</head>
<header>
  <%- include('partials/_header') %>
</header>

<body>
  <div class="card">
    <div class="card-header">
      <h4>Login</h4>
    </div>
    <% if (message) { %>

      <p style="color: red"><%= message %></p>
      <% } %>
    <div class="form-group">
      <form action="/login" method="POST">
        <div>
          <label for="email">Email Address: </label><input type="email" name="email" placeholder="Email"
            style="width: 300px; margin: 2em;">
        </div>
        <div>
          <label for="password">Password: </label><input type="password" name="password" placeholder="Password"
            style="width: 300px; margin-left: 4em;">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      <p>Don't have an account?<a href="/register"> Sign Up</a> </p>
    </div>
  </div>

</body>

</html>